.main {
    padding: 30px 25px;
    background-color: rgb(233, 233, 233);
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav >h3{
    font-size: 24px;
    /* padding-bottom: 23px ; */
    margin-right: auto;
}

.image{
    width : 70px;
    height: 70px;
    border-radius: 50%;
    /* margin-left: auto; */
}
.details{
    background: linear-gradient(to right, rgb(0, 132, 255), rgb(0, 255, 234) );
    border-radius: 20px;
    color: white;
    padding : 20px 25px;
}

.details >h1{
    margin: 0;
    font-size: 45px;
}

.details >h2{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
}


.details >h3{
    margin: 0;
    /* font-size: 45px; */
    font-weight: 600;
    text-align: end;
}
.details >h4{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.bar{
    background-color: white;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    overflow: hidden;
}

.progress{
    margin: 0;
    padding: 3.5px;

}

.contacts{
    background-color: blueviolet;
    min-width: 100px;
    text-align: center;
    color :white;
    padding : 20px 0 0px 0;
    border-radius: 10px;
    border: 2px dashed rgb(70, 0, 135);
    
}

.add{

    font-size : 30px;
}

.contacts> p{

    font-size: smaller;
}

.users{
    display: flex;
    overflow-x: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.addNew{
    width: 80%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    color: black;
    padding: 30px 15px;

}
.form{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.form >label{
    font-size: 20px;
    font-weight: 480;
    margin-bottom: 5px;
}
.form >input{
    font-size: 17px;
    padding: 8px 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.form >p{
    font-size: 17px;
    color: red;
}

.noErrorBtn{
    font-size: 17px;
    padding: 8px 10px;
    margin-top: 10px;
    border: none;
    background:linear-gradient(300deg, rgb(0, 153, 255), rgb(0, 255, 208));
    color: white;
    font-weight: 600;
}
.errorBtn{
    font-size: 17px;
    padding: 8px 10px;
    margin-top: 10px;
    border: none;
    /* background:linear-gradient(300deg, rgb(255, 255, 255), rgb(87, 87, 87)); */
    color: white;
    font-weight: 600;
    background-color: gray;
}
.addNew > h1{
    font-size: 25px;
    text-align: center;
}
.background{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exit{
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    right: 40px;
    font-weight: 900;
}